# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv-1/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
.pytest_cache/
coverage.xml

# PyInstaller
*.manifest
*.spec

# Misc
.DS_Store
.env
*.log
*.csv
